@font-face {
  font-family: 'Hanson';
  src: url('./fonts/HansonBold.woff2') format('woff2'),
      url('./fonts/HansonBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
